# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
*.log
*.pot
*.pyc
.cache/

# Virtual Environment
venv/
.env

# IDE and editor settings
.vscode/

# Configurations and secrets
config.toml
secrets.toml
.streamlit/secrets.toml
.streamlit/config.toml

# Output directories
uploads/
outputs/
